.bgimage{
    background-image: url(2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
}

.headerset{
    padding-top: 200px;
    box-sizing:content-box;
   

  
}






.headerset h1{
    font-size: 52px;
    font-weight: bold;
    color: black;
    text-shadow: sienna;

}
section h1{
     padding: 100px 0px 60px;
     height: 200px;
     text-decoration-line: underline;
}
.row h2{
 height: 50px;
 text-decoration-line: underline;

}
#design{
    margin-top: 20px;
}
.nav-item{
    padding: 10px;
}




/* ////////////about us //////// */

.aboutus{

    height: 1100px;

}


#head{
    font-weight: bold;
    color: royalblue;
}

#ss{
    font-weight: bold;
    color: royalblue;

}





/* ////////////////////contact us/////////////////// */


.contact-us{

margin: auto;
padding-top: 70%;


}



.contact{

    width: 800px;
    background-color: rgb(0,0,0,6);
    margin: auto;
    color:#ffff;
    padding: 20px,0px,10px,0px;
    text-align: center;
    border-radius: 15px,15px,0px,0px;


}

.h-primary{

padding: 50px;



}
.main{

    background-color: rgb(175, 192, 202);
    width: 800px;
    margin: auto;
    z-index: -1;
    opacity: 0.8;
}


form{

    padding: 10px;

}

#name{
    width: 100%;
    height: 100%;

}

.name{

    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

form span{

    font-size: 30px;
    font-weight: bold;
}

form input{

    width: fit-content;
}

#pic{

    background-repeat: no-repeat;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;



}


/* footer///////////////// */

.footer{

    height: 50px;


}

.footer h5{

    line-height: 50px;

}

.footer::before{
    stroke-opacity: inherit;
}


.container{

    background-image: image(38.jpg);
}


   


/* ///////////////////responsive//////////////////// */


@media(min-width:992px){


}

@media(min-width:768px) and (max-width:991px){



}

@media(min-width:575px) and (max-width:767px){


    
}

@media(min-width:480px) and (max-width:574px){


    
}

@media(max-width:479px){
    .headerset{
        padding-top: 100px;
        box-sizing:border-box;
       
    
      
    }
    
    
    
    
    
  
    
    .headerset h1{
        font-size: 22px;
        font-weight: bold;
        color: black;
        text-shadow: sienna;
    
    }
    section h1{
         padding: 50px 0px 30px;
         height: 100px;
         text-decoration-line: underline;
    }
    .bgimage{
        background-image: url(2.jpg);
        background-size: 50% 50%;
        background-attachment: fixed;
        width: 100%;
        height: 330px;
    }
  


    
}



